/* ===== ОБЩЕЕ ===== */
body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: white;
}

.title {
    text-align: center;
    padding: 20px;
    color: red;
}

.section {
    padding: 20px;
    border-bottom: 2px solid #333;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    width: 220px;
    background: #1e1e1e;
    border: 2px solid red;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.card button {
    padding: 8px;
    background: red;
    color: white;
    border: none;
}

/* display */
.box {
    background: #333;
    margin: 5px;
    padding: 10px;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.none {
    display: none;
}

.overflow {
    width: 170px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}

.visible {
    overflow: visible;
}

.hidden {
    overflow: hidden;
}

.scroll {
    overflow: scroll;
}

.auto {
    overflow: auto;
}

.box-demo {
    width: 200px;
    height: 100px;
    margin: 10px;
    padding: 20px;
    border: 10px solid red;
    background: #222;
}

.content-box {
    box-sizing: content-box;
}

.border-box {
    box-sizing: border-box;
}